server {
  listen 80;
  listen [::]:80;
  server_name  cfp.phpconf.asia www.cfp.phpconf.asia;

  include /etc/nginx/snippets/letsencrypt.conf;

  if ($host = cfp.phpconf.asia) {
    return 301 https://$host$request_uri;
  }
}

server {
  listen [::]:443 ssl ipv6only=on;
  listen 443 ssl;

  ssl_certificate /etc/letsencrypt/live/cfp.phpconf.asia/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/cfp.phpconf.asia/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/cfp.phpconf.asia/fullchain.pem;
  include /etc/nginx/snippets/ssl.conf;

  root /var/www/opencfp/web;
  index index.php index.html index.htm;
  server_name  cfp.phpconf.asia www.cfp.phpconf.asia;

  include /etc/nginx/snippets/letsencrypt.conf;

  client_max_body_size 100M;

  access_log /var/log/nginx/access.cfp.phpconf.asia.log;
  error_log /var/log/nginx/error.cfp.phpconf.asia.log;

  location / {
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    fastcgi_param CFP_ENV {{ opencfp_env }};
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/run/php/php7.1-fpm.sock;
    fastcgi_read_timeout 150;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }

  location ~ /\.ht {
    deny all;
  }
}