server {
  listen 80;
  listen [::]:80;
  root /var/www/phpconf.asia;
  server_name  phpconf.asia www.phpconf.asia;

  include /etc/nginx/snippets/letsencrypt.conf;

  location / {
    return 301 https://2019.phpconf.asia;
  }

  location ~ /\.ht {
    deny all;
  }
}